body{
    background:#ccc;
    font-family:Arial, Helvetica, sans-serif;  
    text-align: center;
}

.eai h1{
    background-color:rgb(235, 8, 8);
    margin: 2rem;
    color:
}

.eai p{
    text-align:justify;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(170, 5, 5);
    margin:2rem;
}

.sgnd h1{
    background:rgb(238, 182, 109);
    text-align: justify;
    border-bottom-style:solid;
    border-color:red;
    margin: 2rem;
    color:brown;
}

.sgnd p{
    text-align:justify;
    font-size:1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(170, 5, 5);
    margin:2rem;
}

.tcr h1{
    text-align: justify;
    background:rgb(238, 182, 109);
    text-align: justify;
    border-bottom-style:solid;
    border-color:red;
    margin: 2rem;
    color:brown;
}

.tcr p{
    text-align:justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:2rem;
    font-size: 1rem;
}

.tcr a:link{
    color:blue;
    text-decoration:none;
    font-size: 1.5rem;
}

.tcr a:hover{
    background:rgb(238, 182, 109);
    text-decoration:underline;
    font-size: 150%;
}



.tcr h2{
    text-align: justify;
    margin: 2rem;
    font-size: 1.4rem;
    color:rgb(170, 5, 5);
}

.qrt h4{
    color: rgb(170, 5, 5);
    text-align:justify;
    margin: 2rem;
    font-size: 1rem;
}

.qrt ul{
    text-align:justify;
    margin: 2rem;
    font-size: 1rem;
    list-style-type:square;
}

.qrt a:hover{
    background:rgb(238, 182, 109);
    text-decoration:underline;
    font-size: 150%;
}

.qrt a:link{
    color:blue;
    text-decoration:none;
}

.qrt a:visited{
    text-decoration:none;
    color: purple;
}

.quinto h1{
    background:rgb(238, 182, 109);
    text-align: justify;
    border-bottom-style:solid;
    border-color:red;
    margin: 2rem;
    color:brown;
}

.quinto h2{
    text-align: justify;
    margin: 2rem;
    font-size: 1.4rem;
    color:rgb(170, 5, 5);
}

.quinto p{
    text-align:justify;
    margin: 2rem;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quinto h4{
    text-align:justify;
    margin: 2rem;
    color:rgb(170, 5, 5);
}

.sexto h1{
    background:rgb(238, 182, 109);
    text-align: justify;
    border-bottom-style:solid;
    border-color:red;
    margin: 2rem;
    color:brown;
}

.sexto ul{
    text-align:justify;
    margin: 2rem;
}

.sexto h3{
    text-align:justify;
    margin: 2rem;
    color:rgb(170, 5, 5);
}

.sexto p{
    text-align:justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:2rem;
    font-size: 1rem;
}

.set h3{
    text-align:justify;
    margin: 2rem;
    color:rgb(170, 5, 5);
}

.set p{
    text-align:justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:2rem;
    font-size: 1rem;
}

.oit h3{
    text-align:justify;
    margin: 2rem;
    color:rgb(170, 5, 5);
}

.oit p{
    text-align:justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:2rem;
    font-size: 1rem;
}

.nine h3{
    text-align:justify;
    margin: 2rem;
    color:rgb(170, 5, 5);
}

.nine p{
    text-align:justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:2rem;
    font-size: 1rem;
}
